<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
</head>
<body>
  <form action="/registration" method="POST">
    username: <input type="text" name="username"> <br>
    password: <input type="text" name="password"> <br>
    email: <input type="text" name="email"> <br>
    
    <input type="submit">

  </form>
</body>
</html>