*{
    margin: 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(45, 45, 145);

}

ul{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
    padding: 10px;
}

a{
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}

/* a:hover{
    text-decoration: underline;
} */

li:hover{
    background-color: yellow;
}
